#footer{
    background-color: rgb(0, 19, 128);
    color: whitesmoke;
}
#footer p{
    
    text-align: center;
    
    
}
#email{
        margin-top: 0px;
        margin-bottom: -4px;
}
    
