@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
*{
    font-family: 'Roboto', sans-serif;  
}
header{
    background-color: dodgerblue;
    border: 2px solid blue;
}
body header h1{
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 86px
    ;
    list-style-type: none;
    margin-top: -22px ;
    margin-bottom: -19px;
   
    
    
}
header ul li{
    display: inline-block;
    
    margin-right: 15px;
    text-align: right;
    text-decoration: underline;
    

    
}
header ul li a{
    display: inline-block;
    color: black;
    
    font-size: 28px;
    position: fixed;
    top: 26px;
    
}
a#contact{
    right: 28px;
}
a#community{
    right: 145px;
}
a#about{
    right: 308px;
}
a#home{
    right: 410px;
}
header p{
    text-align: center;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 4px;
}
header ul{
    margin: 0px;
}